.bar-header{
	position:relative;
}
.frow{
	display:flex;
	display:-webkit-flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	padding:5px 0;
}
.frow .col{
	flex:none;
	-webkit-flex:none;
	text-align: center;
	width:20%;
	padding:5px 0;
	border-bottom:1px solid #aaa;
}
